@media (min-width: 64em) {
    body {
      width: 950px;
      margin-left: auto;
      margin-right: auto;
    }
    nav {
      display: none;
    }
    .menuLarge {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0;
      width: 300px;
      justify-content: space-around;
    }
    .menuLarge li a {
      text-decoration: none;
      color: black;
    }
    .menuLarge li:hover {
      background-color: #80ed99;
    }
    .menuLarge li h3 {
      margin: 0;
      padding: 10px;
      text-align: center;
    }
    .menuLarge li {
      text-align: center;
    }
    main {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      height: 600px;
      grid-gap: 12px;
      width: 97%;
      margin-right: auto;
      margin-left: auto;
    }
    #spot3 {
      display: block;
    }
    .eventsW {
      grid-column: 1/2;
      grid-row: 1/3;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    .eventsW .simple {
      width: 100%;
      height: 48%;
      margin-bottom: 0;
    }
    #join {
      grid-column: 1/2;
      grid-row: 3/4;
      height: 100%;
      margin-top: 0;
    }
    #hero {
      grid-column: 2/3;
      grid-row: 1/3;
      height: 100%;
    }
    #news {
      grid-column: 2/3;
      grid-row: 3/4;
      height: 100%;
    }
    .simple2 {
      grid-column: 3/4;
      grid-row: 1/4;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .simple2 section{
      width: 90%;
    }
    .simple {
      margin-bottom: 0;
    }
  }