@media only screen and (min-width: 32.5em){
    body{
        font-size: 16px;
    }
    .simple2{
        flex-direction: row;
        gap: 25px;
    }
    .simple2 section{
        width: 30%;
        height: 430px;
    }
    .simple2 h1{
        font-size: 1.2rem;
    }
    .simple2 .website1{
        font-size: 1rem;
    }
    #join{
        display: block;
        margin-top: 10px;
    }
    .eventsW{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
    }
    .eventsW .simple{
        min-width: 49%;
        
    }
    #hero{
        order: 1;
    }
    #news{
        order: 2;
    }
    .simple2{
        order: 3;
    }
    #join{
        order: 4
    }
    .eventsW{
        order: 5;
    }

    #join{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 16px;
        background-color: #044389;
    }

    #join-button{
        font-size: 24px;
        padding: 10px 14px;
        border-radius: 8px;
        background-color: #57cc99;
        border-color: #57cc99;
        font-family: "Abril Fatface";
        width: 90%;
    }

    #join p{
        font-size: 24px;
        color: #fff;
        font-family: "Anton";
        font-weight: 400;
        letter-spacing: 1px;
    }



    footer{
        text-align: left;
    }
    .main-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .address{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .address img{
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .contact{
        text-align: center;
    }
    footer .info{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    }

    .discovery h3{
        max-width: 450px;
    }

    .join form{
        width: 580px;
    }

    .directory{
        align-items: normal;
    }

}