@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

body {
    font-size: 16px;
  }

  h1{
    text-align: center;
    font-family: 'Gloock', serif;
  }

  .cards{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  }

  section {
    margin: 0.25rem;
    padding: 1rem;
    background-color: #050505;
    border: 1px solid #bbb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2{
    font-family: 'Tilt Warp', cursive;
    color: #fff;
    margin-top: 0;
  }
  p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
  }